<%= provide :title ,'top'%>
<div class='top_index_header'>
  <div class='top_index_header__one_column'>
    about1
  </div>
  <div class='top_index_header__two_column'>
    about2
  </div>
  <div class='top_index_header__three_column'>
    about3
  </div>
  <div class='top_index_header__four_column'>
    about4
  </div>
  <div class='top_index_header__five_column'>
    about4
  </div>
</div>
<div class='top_index_body'>
  aa
</div>

