<%= provide :title ,'top'%>
<div class='index_top_border_box'>
  <div class='index_top_header'>
    <ul>
      <li class='index_top_nav'>about</li>
      <li class='index_top_nav'>member</li>
      <li class='index_top_nav'>special</li>
    </ul>
  </div>

  <div class='index_top_left_border'></div>
  <div class='index_top_right_border'></div>
  <div class='gear'>
    <%= image_tag('gear') %>
  </div>
</div>

<!-- 上はposition:fixedしてあるので問題ない,bodyとして運用できる -->

<div class='index_top_body'>
  <div class='index_top_body__title'>
    <p>Fencers</p>
  </div>
  <div class='index_top_body__contents_box_green'>
  </div>
  <div class='index_top_body__contents_box_red'>
  </div>
  <div class='index_top_body__contents_box_blue'>
  </div>
</div>
