.top_index_header{
  width: 600px;
  height: 1000px;
  position: absolute;
  top: -360px;
  left: -160px;
  transform: rotate(45deg);//angle
  background-image:image-url("eb16.png");
  overflow: hidden;
  &__column_base{
    text-align: left;
    height: 145px;
    transform: rotate(-45deg);
    margin-top:100px;
    // position: absolute;
  }
  &__one_column{
    margin-top:300px;
    @extend .top_index_header__column_base;
    background-color: rgba(53,53,63,0.9);
    color: rgba(233,233,233,1.0);
    width: 760px;
    margin-top: 210px;
    margin-left: 42.2px;
  }
  &__two_column{
    @extend .top_index_header__column_base;
    background-color: rgba(233,233,233,0.9);
    color: rgba(53,53,63,1.0);
    position: relative;
    top: -87px;
    right: -166px;
  }
  &__three_column{
    @extend .top_index_header__column_base;
    background-color: rgba(53,53,63,0.9);
    color: rgba(233,233,233,1.0);
    position: relative;
    top: -230px;
    right: -268.4px;
  }
  &__four_column{
    @extend .top_index_header__column_base;
    background-color: rgba(233,233,233,0.9);
    color: rgba(53,53,63,1.0);
    position: relative;
    top: -372px;
    right: -370px;

  }
  &__five_column{
    @extend .top_index_header__column_base;
    background-color: rgba(53,53,63,0.9);
    color: rgba(233,233,233,1.0);
    position: relative;
    top: -516px;
    right: -472px;
  }
}

.top_index_body{
  height: 705px;
  width: 100%;
  background-color: rgba(150,0,0,1);
}
